.navbar-custom {
    background-color: #e3fcea !important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #000000 !important;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #000000 !important;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000000 !important;
}
